* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url('../img/bg/main-bg.png') center center / cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo_img {
    display: block;
    margin: 0 auto;
}

.logo_title {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
    font-weight: 400;
}

.title {
    color: #f9bf3b;
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.title_big {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-top: 21px;
    font-weight: 900;
}

h2.title {
    margin-top: 30px;
    font-weight: 900;
}

.promo_text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    line-height: 28px;
    padding: 0 13px;
    margin-top: 23px;
}

.promo_text span {
    color: #f9bf3b;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.promo_btn {
    display: block;
    margin: 73px auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to bottom, #2798b9 0%, #3ab6da 100%);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.more_text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    cursor: pointer;
    outline: none;
}

.waiting {
    background: #efefef;
    min-height: 604px;
    padding: 85px 0 75px 0;
}

.waiting_header, .finish_header, .vebinar_header {
    color: #252525;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting_divider, .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting_subheader {
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: 17px;
}
.waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting_item {
    width: 360px;
    text-align: center;
}

.waiting_img {
    width: 100%;
}

.waiting_descr {
    margin-top: 33px ;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: 604px;
    padding: 102px 0 107px 0;
}

.optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.optimization_text {
    margin-left: 391px;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 25px;
    text-align: justify;
}

.optimization_text span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.optimization_img {
    position: absolute;
    top: 48px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/third-bg.png') center center / cover no-repeat;
}

.finish_header {
    color: #fff;
}

.finish_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

.finish_item {
    width: 204px;
    text-align: center;
}

.finish_descr {
    margin-top: 25px;
    color: #efefef;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.surprise {
    min-height: 630px;
    padding-top: 80px;
    background: #efefef;
}

.surprise_logo {
    display: block;
    margin: 0 auto;
}

.surprise_text {
    width: 1140px;
    text-align: center;
    margin-top: 40px;
    color: #252525;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.surprise_btn {
    display: block;
    margin: 60px auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(213, 213, 213, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to bottom, #2798b9 0%, #3ab6da 100%);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.vebinar {
    min-height: 515px;
    padding-top: 78px;
}

.vebinar_img {
    display: block;
    margin: 0 auto;
}

.vebinar_header {
    margin-top: 40px;
}

.vebinar_title {
    color: #299cbd;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 12px;
}

.vebinar_text {
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    text-align: center;
}

.footer {
    height: 166px;
    background: #1a1a1a;
    padding-top: 60px;
}

.footer_function {
    display: flex;
    justify-content: center;
}

.footer_slash {
    border-right:2px solid #888888; 
    width:4px;
    margin-left: 8px;
    margin-right: 8px;
}

.footer_support, .footer_politic {
    color: #888888;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.footer_tel {
    display: flex;
    justify-content: center;
    color: #888888;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 10px;
    text-decoration: none;
}

